
:root{
    --bg-sidebar:#E8E9ED;
    --bg-main:#EFFAFF;
    --bg-button:#007CBA;
    --bg-popup:#C1EAFF;
    --bg-entity-button:#00FFD4;
    --bg-footer:#007CBA
}

#navt{
    border: 1px solid green;
}