#procontent{
    border: 1px solid rgb(214, 211, 211);
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(109, 107, 107, 0.5);
    padding-top: 1rem;
}
.contaicon{
    font-size: 6rem;
}

.probtn{
    margin-bottom: 2rem;
    padding: 7px 40px;
    border-radius: 12px;
    border: 1px solid gray;
    background-color: #007CBA;
    color: white;
    font-weight: bold;
}

.btnclass{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.personal{
margin-left: 25%;
margin-right: 1rem;
padding: 5px 20px;
border: 1px solid grey;
border-radius: 10px;
background-color: #00FFD4;
cursor: pointer;
}

.entity{
    margin-right: 2rem;
    padding: 5px 20px;
    border: 1px solid grey;
    border-radius: 10px;  
    cursor: pointer;
}

.edit{
    margin-left: 8rem;
}
#citizen{
    margin-top: 1rem;
    width: 300px;
    border-radius: 10px;

}