:root{
  --bg-sidebar:#E8E9ED;
  --bg-main:#EFFAFF;
  --bg-button:#007CBA;
  --bg-popup:#C1EAFF;
  --bg-entity-button:#00FFD4;
  --bg-footer:#007CBA
}
body{
  background-color: #00FFD4;
}
.error{
  color: red;
  margin-left: 50px;
}
